/* 

File: style.css
GUI Assignment: Creating an Interactive Dynamic Table
Tynan Hollyer, UMass Lowell Computer Science
tynan_hollyer@student.uml.edu
Updated by TH on 11/3/2021 at 5:51 PM

Description: Personal CSS file. 

Credit:
Proper Documentation copied from
HW 1, Part 2, Author: Wenjin Zhou

Help from: https://www.w3schools.com/

Other help from: 
https://www.dropbox.com/s/9k0r4cqv5kdsu8u/hw6_grader_lecture.m4v?d
https://www.youtube.com/watch?v=zIpA8k167gU

This channel: https://www.youtube.com/channel/UCZ6hWRouBVsr8luNAUMtsiw
Video from the channel specifically: https://www.youtube.com/watch?v=XFGtGzZhy_A

*/

label.error {
    color: red;
}